@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__node {
  padding: 0;
  border-radius: 0;
  width: auto;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  border: none;
}